{% extends 'dashboard/navbar_base.html' %}

{% load static %}

{% block title %}Sign up to {{ tournament.title }} | Warwick.gg{% endblock %}

{% block js %}
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
          {% if messages %}
              const deleteNotification = document.getElementById('notification-close');

              if (deleteNotification != null) {
                  deleteNotification.addEventListener('click', function (ev) {
                      ev.target.parentNode.remove();
                  })
              }
          {% endif %}
      });
  </script>
{% endblock %}

{% block body %}
  {% if HAS_LAUNCHED %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="{% url 'tournament_index' %}">Events</a></li>
          <li><a href="{% url 'tournament_home' slug=tournament.slug %}">{{ tournament.title }}</a></li>
          <li class="is-active"><a href="#">Sign up</a></li>
        </ul>
      </div>
    </nav>
  {% endif %}

  <section class="section">
    <div class="container">
      <div class="columns is-centered is-multiline">
        {% if messages %}
          <div class="column is-7">
            {% for message in messages %}
              <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
                <button class="delete" id="notification-close"></button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="column is-7">
          <h2 class="title is-2 has-text-centered">Sign up for {{ tournament.title }}</h2>
        </div>
        <div class="column is-7">
          <div class="content">
            <p class="has-text-centered">Sign ups to this tournament are free! Just fill out the form below to complete
              the sign up process.</p>
          </div>
        </div>
        <div class="column is-6">
          <form id="signup-form" action="{% url 'tournament_charge' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="tournament_id" value="{{ tournament.id }}">

            <div class="field">
              <label class="label" for="{{ form.platform_tag.id_for_label }}">
                Platform username<span class="is-required">*</span>
              </label>
              <div class="control {% if tournament.platform_icon %} has-icons-left{% endif %}">
                <input class="input {% if form.non_field_errors or form.platform_tag.errors %}is-danger{% endif %}"
                       name="{{ form.platform_tag.name }}" id="{{ form.platform_tag.id_for_label }}"
                       placeholder="{{ tournament.platform_verbose }} username"
                       type="{{ form.platform_tag.widget.input_type }}" required
                       {% if platform_placeholder %}value="{{ platform_placeholder }}"{% endif %}/>
                {% if tournament.platform_icon %}
                  <span class="icon is-small is-left"><i class="fab fa-{{ tournament.platform_icon }}"></i></span>
                {% endif %}
              </div>
              {% if form.platform_tag.errors %}
                {% for error in form.platform_tag.errors %}
                  <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>

            <div class="field">
              <div class="content">
                <p>You'll be able to add a signup comment on the next page.</p>
              </div>
            </div>
            <div class="field is-grouped is-grouped-right">
              <div class="control">
                <button class="button is-primary" type="submit">Sign up</button>
              </div>
            </div>
          </form>
          <hr/>
          {% if tournament.for_event %}
            <small class="has-text-centered"><strong>Reminder:</strong> This tournament will require you to be
              physically at the event to take part.
            </small>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}