{% extends 'dashboard/navbar_base.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ tournament.title }} | Warwick.gg{% endblock %}

{% block template_classname %}warwickgg-tournament-home{% endblock %}

{% block js %}
  <script type="text/javascript">
      String.prototype.trimLeft = function (charlist) {
          if (charlist === undefined)
              charlist = "\s";

          return this.replace(new RegExp("^[" + charlist + "]+"), "");
      };

      function showTab(tabName) {
          let selectedTab = document.querySelector(`li a[data-target="${tabName}-container"]`);
          let selectedContainer = document.getElementById(`${tabName}-container`);

          if (!selectedTab) {
              selectedTab = document.querySelector('li a[data-target="info-container"]');
              selectedContainer = document.getElementById('info-container');
          }

          // Hide all tabs and containers that aren't the ones to be shown
          document.querySelectorAll(`#tab-container li.is-active a:not([data-target="${tabName}-container"])`)
              .forEach(function (tab) {
                  tab.parentNode.classList.remove('is-active');
              });

          document.querySelectorAll(`.tab-content.is-active:not(#${tabName}-container)`)
              .forEach(function (container) {
                  container.classList.remove('is-active');
              });

          // Show the correct tab/container
          selectedTab.parentNode.classList.add('is-active');
          selectedContainer.classList.add('is-active');
      }

      function bindFormSubmit() {
          let submitButton = document.getElementById('form-save');
          if (submitButton !== null) {
              submitButton.addEventListener("click", function (ev) {
                  ev.preventDefault();
                  ev.stopImmediatePropagation();

                  let textArea = document.getElementById('id_comment');
                  if (textArea.value.length > 0) {
                      let form = document.getElementById('comment-form');
                      let formData = new FormData(form);
                      sendComment(formData);
                  }

                  return false;
              });
          }
      }

      function bindCommentDeleteButtons() {
          let deleteLinks = document.querySelectorAll('.comment-delete');
          if (deleteLinks !== null) {
              deleteLinks.forEach(function (button) {
                  button.addEventListener("click", function (ev) {
                      ev.preventDefault();
                      ev.stopImmediatePropagation();

                      deleteComment(button);

                      return false;
                  });
              });
          }
      }

      function displayNotification(message) {
          let commentContainer = document.getElementById('comments-container');
          let commentTitle = document.getElementById('comments-title');
          let notification = document.createRange()
              .createContextualFragment(message);

          commentContainer.insertBefore(notification, commentTitle);
          document.getElementById('notification-close')
              .addEventListener('click', function (ev) {
                  ev.target.parentNode.remove();
              });
      }

      function sendComment(formData) {
          const url = '/events/api/comment/update';
          const csrf = Cookies.get('csrftoken');
          const http = new XMLHttpRequest();

          http.open('POST', url, true);
          http.setRequestHeader('X-CSRFToken', csrf);
          http.onreadystatechange = function () {
              if (http.readyState === 4 && http.status === 200) {
                  let commentContainer = document.getElementById('comments');
                  commentContainer.innerHTML = http.responseText;

                  bindFormSubmit();
                  bindCommentDeleteButtons();
              } else if (http.readyState === 4 && http.status === 403) {
                  if (document.getElementById('notification-close')) {
                      return;
                  }

                  displayNotification(http.responseText);
              }
          };
          http.send(formData);
      }

      function deleteComment(button) {
          const url = '/events/api/comment/delete';
          const csrf = Cookies.get('csrftoken');
          const http = new XMLHttpRequest();

          http.open('POST', url, true);
          http.setRequestHeader('X-CSRFToken', csrf);
          http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          http.onreadystatechange = function () {
              if (http.readyState === 4 && http.status === 200) {
                  let commentContainer = document.getElementById('comments');
                  commentContainer.innerHTML = http.responseText;

                  bindFormSubmit();
                  bindCommentDeleteButtons();
              } else if (http.readyState === 4 && http.status === 403) {
                  if (document.getElementById('notification-close')) {
                      return;
                  }

                  displayNotification(http.responseText);
              }
          };
          http.send('comment-id=' + button.getAttribute('data-comment-id'));
      }

      document.addEventListener('DOMContentLoaded', function () {
          bindFormSubmit();

          {% if messages %}
              const notificationClose = document.getElementById('notification-close');

              if (notificationClose != null) {
                  notificationClose.addEventListener('click', function (ev) {
                      ev.target.parentNode.remove();
                  });
              }
          {% endif %}

          {% if is_exec or has_signed_up %}
              let deleteLinks = document.querySelectorAll('.comment-delete');
              deleteLinks.forEach(function (button) {
                  button.addEventListener("click", function (ev) {
                      ev.preventDefault();
                      ev.stopImmediatePropagation();

                      deleteComment(button);

                      return false;
                  });
              });
          {% endif %}
      });
  </script>
{% endblock %}

{% block body %}
  {% if request.user.is_authenticated %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="{% url 'tournament_index' %}">Tournaments</a></li>
          <li class="is-active"><a href="#">{{ tournament.title }}</a></li>
        </ul>
      </div>
    </nav>
  {% endif %}

  {% if messages %}
    <div class="container">
      <div class="column is-full">
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
            <button class="delete" id="notification-close"></button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <section class="section">
    <div class="container">
      <h2 class="title is-2">{{ tournament.title }}</h2>
      <h6 class="subtitle is-6">{{ tournament.start|date:'P l jS F Y' }} - {{ tournament.end|date:'P l jS F Y' }}</h6>
      <div class="content">
        <h4>Tournament information</h4>
        <ul>
          {% if tournament.platform == 'O' %}
            <li><strong>Platform:</strong> {{ tournament.platform_other }}</li>
          {% else %}
            <li><strong>Platform:</strong> {{ tournament.platform_verbose }}</li>
          {% endif %}
          {% if tournament.for_event %}
            <li><strong>Event:</strong> <a
                href="{{ tournament.for_event.get_absolute_url }}">{{ tournament.for_event }}</a>
              ({% if tournament.requires_attendance %}requires signup to {{ tournament.for_event }}{% else %}doesn't
                require signup{% endif %})
            </li>
          {% endif %}
          {% if tournament.games %}
            <li><strong>Game{{ tournament.games_list|pluralize }}</strong>: {{ tournament.games }}</li>
          {% endif %}
        </ul>
        {{ tournament.description|markdown }}
        <hr class="width-300"/>
        <h4>Signup information</h4>
        <ul class="has-bullets">
          <li><strong>Signups open:</strong> {{ tournament.signup_start|date:'P l jS F Y' }}</li>
          <li><strong>Signups close:</strong> {{ tournament.signup_end|date:'P l jS F Y' }}</li>
        </ul>
        {% if tournament.signups_open and not user_signup %}
          <p>Signups are open! The sign up form is available here: <a
              href="{{ tournament.signup_form }}">{{ tournament.signup_form }}</a></p>
        {% endif %}
      </div>
      {% if request.user.is_authenticated %}
        <div class="signup-tile">
          <div class="tile-left">
            {% if user_signup %}
              <h4 class="title is-4">Signed up</h4>
              <p>You have already signed up to {{ tournament.title }} - click <a
                  href="{% url 'tournament_unsignup' slug=tournament.slug %}">here</a> to un-signup.</p>
            {% else %}
              {% if tournament.signups_open %}
                {% if tournament.signup_limit == tournament.signup_count %}
                  <h4 class="title is-4">Signups for {{ tournament.title }} are closed</h4>
                  <p>There are no more spaces to sign up to this tournament. Check back soon to see if there is any
                    space!</p>
                {% else %}
                  <h4 class="title is-4">Signup to {{ tournament.title }}</h4>
                  <p>Signups are open for {{ tournament.title }}! Click <a
                      href="{% url 'tournament_signup' slug=tournament.slug %}">here</a> to sign up.</p>
                {% endif %}
              {% else %}
                <h4 class="title is-4">Signups opening soon</h4>
                <p>Signups for {{ tournament.title }} aren't open just yet. They open
                  at {{ tournament.signup_start|date:'P l jS F Y' }}, so check back then!</p>
              {% endif %}
            {% endif %}
          </div>
        </div>

        {% if user_signup %}
          <div id="comments-container" class="comment-container">
            <hr/>
            <h4 class="title forms is-4" id="comments-title">Signup Comments</h4>
            <div id="comments">
              {% include 'events/partial/tournament_comments.html' with tournament=tournament comment_form=comment_form signups=signups has_signed_up=user_signup %}
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="signup-tile">
          <div class="tile-left">
            <h4 class="title is-4">Register to sign up</h4>
            <p>To sign up for {{ tournament.title }}, you need to have logged into your Warwick.gg account! To log in or
              sign up, click <a href="{% url 'account_login' %}">here</a>.</p>
          </div>
        </div>
      {% endif %}
    </div>
  </section>

{% endblock %}