{% extends 'dashboard/navbar_base.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ tournament.title }} | Warwick.gg{% endblock %}

{% block template_classname %}warwickgg-tournament-home{% endblock %}

{% block body %}
  {% if request.user.is_authenticated %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="{% url 'tournament_index' %}">Tournaments</a></li>
          <li class="is-active"><a href="#">{{ tournament.title }}</a></li>
        </ul>
      </div>
    </nav>
  {% endif %}

  <section class="section">
    <div class="container">
      <h2 class="title is-2">{{ tournament.title }}</h2>
      <h6 class="subtitle is-6">{{ tournament.start|date:'P l jS F Y' }} - {{ tournament.end|date:'P l jS F Y' }}</h6>
      <div class="content">
        <h4>Tournament information</h4>
        <ul>
          {% if tournament.platform == 'O' %}
            <li><strong>Platform:</strong> {{ tournament.platform_other }}</li>
          {% else %}
            <li><strong>Platform:</strong> {{ tournament.platform_verbose }}</li>
          {% endif %}
          {% if tournament.for_event %}
            <li><strong>Event:</strong> <a
                href="{{ tournament.for_event.get_absolute_url }}">{{ tournament.for_event }}</a>
              ({% if tournament.requires_attendance %}requires signup to {{ tournament.for_event }}{% else %}doesn't require signup{% endif %})
            </li>
          {% endif %}
          {% if tournament.games %}
            <li><strong>Game{{ tournament.games_list|pluralize }}</strong>: {{ tournament.games }}</li>
          {% endif %}
        </ul>
        {{ tournament.description|markdown }}
        <hr class="width-300"/>
        <h4>Signup information</h4>
        <ul class="has-bullets">
          <li><strong>Signups open:</strong> {{ tournament.signup_start|date:'P l jS F Y' }}</li>
          <li><strong>Signups close:</strong> {{ tournament.signup_end|date:'P l jS F Y' }}</li>
        </ul>
        {% if tournament.signups_open %}
          <p>Signups are open! The sign up form is available here: <a
              href="{{ tournament.signup_form }}">{{ tournament.signup_form }}</a></p>
        {% endif %}
      </div>
      {% if request.user.is_authenticated %}
        <div class="signup-tile">
          <div class="tile-left">
            {% if user_signup %}
              <h4 class="title is-4">Signed up</h4>
              <p>You have already signed up to {{ tournament.title }} - click <a href="{% url 'tournament_unsignup' slug=tournament.slug %}">here</a> to un-signup.</p>
            {% else %}
              {% if tournament.signups_open %}
                {% if tournament.signup_limit == tournament.signup_count %}
                  <h4 class="title is-4">Signups for {{ tournament.title }} are closed</h4>
                  <p>There are no more spaces to sign up to this tournament. Check back soon to see if there is any space!</p>
                {% else %}
                  <h4 class="title is-4">Signup to {{ tournament.title }}</h4>
                  <p>Signups are open for {{ tournament.title }}! Click <a href="{% url 'tournament_signup' slug=tournament.slug %}">here</a> to sign up.</p>
                {% endif %}
              {% else %}
                <h4 class="title is-4">Signups opening soon</h4>
                <p>Signups for {{ tournament.title }} aren't open just yet. They open at {{ tournament.signup_start|date:'P l jS F Y' }}, so check back then!</p>
              {% endif %}
            {% endif %}
          </div>
        </div>

        {% if user_signup %}
          {# TODO: Comments #}
        {% endif %}
      {% else %}
        <div class="signup-tile">
          <div class="tile-left">
            <h4 class="title is-4">Register to sign up</h4>
            <p>To sign up for {{ tournament.title }}, you need to have logged into your Warwick.gg account! To log in or sign up, click <a href="{% url 'account_login' %}">here</a>.</p>
          </div>
        </div>
      {% endif %}
    </div>
  </section>

{% endblock %}