{% load static avatar_tags %}
{% if count > 0 %}
  <div class="columns comment-divider">
    <div class="column is-6">
      <hr/>
    </div>
  </div>
{% endif %}
<article class="media">
  <figure class="media-left">
    {% avatar signup.user 128 class='rounded-image image is-64x64' %}
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong {% if signup.profile.nickname %}class="tooltip is-tooltip-primary"
                data-tooltip="{{ signup.user.get_full_name }}"{% endif %}>{{ signup.profile.long_name }}</strong>
        <small>Signed up at {{ signup.created_at|date:'P l jS F Y' }}</small>
        <br/>
        {{ signup.comment }}
      </p>
    </div>
  </div>
  {% if is_exec %}
    <div class="media-right">
      <a href="#signup" class="tooltip is-tooltip-left is-tooltip-primary comment-delete-link"
         data-comment-id="{{ signup.id }}" data-tooltip="Delete this comment"><i class="fas fa-trash"></i></a>
    </div>
  {% endif %}
</article>
