{% extends 'dashboard/navbar_base.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ event.title }} | Warwick.gg{% endblock %}

{% block js %}
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
          {% if messages %}
              let $notificationClose = document.getElementById('notification-close');

              if ($notificationClose != null) {
                  $notificationClose.addEventListener('click', function (ev) {
                      ev.target.parentNode.remove();
                  })
              }
          {% endif %}
      });
  </script>
{% endblock %}

{% block body %}
  {% if HAS_LAUNCHED %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="{% url 'event_index' %}">Events</a></li>
          <li class="is-active"><a href="#">{{ event.title }}</a></li>
        </ul>
      </div>
    </nav>
  {% endif %}

  <div class="section">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
            <button class="delete" id="notification-close"></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <h2 class="is-2 title">{{ event.title }}</h2>
      <h4 class="is-6 subtitle">{{ event.location }}, {{ event.start|date:'P l jS F Y' }}
        - {{ event.end|date:'P l jS F Y' }}</h4>
      <div class="content">
        {{ event.description|markdown }}
      </div>
      <h4 class="is-4 title">Sign up information</h4>
      <div class="content">
        <ul class="has-bullets">
          <li><strong>Signups open:</strong> {{ event.signup_start|date:'P l jS F Y' }}</li>
          <li><strong>Signups close:</strong> {{ event.signup_end|date:'P l jS F Y' }}</li>
          <li><strong>Max attendance:</strong> {{ event.signup_limit }}</li>
          <li><strong>Attendance cost:</strong> CompSoc/Esports members: {% if event.cost_member == 0 %}Free{% else %}£
            {{ event.cost_member }}{% endif %}, Other*: £{{ event.cost_non_member }}</li>
        </ul>
        <p>
          <small>*: Must be a current student at the University of Warwick.</small>
        </p>
        {% if event.has_livestream %}
          <p>
            <strong>Note:</strong> This event will be streamed live on the platform(s) such as Twitch.tv or YouTube. If
            you would like to not appear on the stream then do talk to one of the event organisers on the day.
          </p>
        {% endif %}
        {% if request.user.is_authenticated %}
          {% if has_signed_up %}
            <p>You have already signed up - click <a href="{% url 'event_unsignup' slug=event_slug %}">here</a> to
              un-signup.</p>
            {# TODO: Seating plan goes here too #}
          {% else %}
            <a href="{% url 'event_signup' slug=event_slug %}" class="button is-medium is-primary">Sign up</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}