{% extends 'dashboard/navbar_base.html' %}

{% block title %}Warwick.gg event index{% endblock %}

{% block body %}
  {# TODO: Add an event archive and pagination #}
  <section class="section">
    <div class="container">
      <h2 class="is-2 title">Events index</h2>
      <div class="columns is-row-reverse-order">
        <div class="column is-4">
          <aside class="menu">
            <p class="menu-label">
              Filters
            </p>
            <ul class="menu-list">
              <li>Coming soon</li>
            </ul>
          </aside>
        </div>
        <div class="column is-8">
          <div class="events-container">
            {% if events %}
              <div class="tile is-ancestor">
                <div class="tile is-parent is-vertical">
                  {% for event in events %}
                    {% include 'events/includes/event_list_item.html' with event=event %}
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="content">
                <p>There are no events at the moment. Check back soon!</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}