{% extends 'dashboard/navbar_base.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ event.title }} | Warwick.gg{% endblock %}

{% block js %}
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
          {% if messages %}
              const notificationClose = document.getElementById('notification-close');

              if (notificationClose != null) {
                  notificationClose.addEventListener('click', function (ev) {
                      ev.target.parentNode.remove();
                  })
              }
          {% endif %}

          {% if is_exec %}
              let deleteLinks = document.querySelectorAll('.comment-delete-link');
              deleteLinks.forEach(function (element) {
                  element.addEventListener('click', function (ev) {
                      ev.preventDefault();
                      ev.stopImmediatePropagation();

                      const url = '/events/api/comment/delete';
                      const csrf = Cookies.get('csrftoken');
                      const http = new XMLHttpRequest();

                      http.open('POST', url, true);
                      http.setRequestHeader('X-CSRFToken', csrf);
                      http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                      http.onreadystatechange = function () {
                          // If the element is not the last one
                          if (element.parentNode.parentNode.nextElementSibling !== null) {
                              if (element.parentNode.parentNode.nextElementSibling.classList.contains('comment-divider')) {
                                  element.parentNode.parentNode.nextElementSibling.remove();
                              }
                          } else if (element.parentNode.parentNode.previousElementSibling !== null) {
                              // Its the top comment
                              if (element.parentNode.parentNode.previousElementSibling.classList.contains('comment-divider')) {
                                  element.parentNode.parentNode.previousElementSibling.remove();
                              } else if (element.parentNode.parentNode.previousElementSibling.id === 'comments-title') {
                                  document.getElementById('comments-container').remove();
                              }
                          }
                          element.parentNode.parentNode.remove();
                      };
                      http.send('comment-id=' + element.getAttribute('data-comment-id'));

                      return false;
                  });
              });
          {% endif %}

          const tabs = document.querySelectorAll('#tab-container li a');

          if (window.location.hash === '#signup') {
              document.querySelector('li a[data-target="signup-container"]').parentNode.classList.add('is-active');
          } else {
              document.querySelector('li a[data-target="info-container"]').parentNode.classList.add('is-active');
          }

          tabs.forEach(function (tab) {
              let target = document.getElementById(tab.getAttribute('data-target'));

              // Hide all of the containers by default
              if (tab.parentNode.classList.contains('is-active')) {
                  target.classList.remove('is-hidden');
              } else {
                  target.classList.add('is-hidden');
              }


              tab.addEventListener('click', function (ev) {
                  tabs.forEach(function (tab) {
                      tab.parentNode.classList.remove('is-active');
                      document.getElementById(tab.getAttribute('data-target')).classList.add('is-hidden');
                  });

                  ev.target.parentNode.classList.add('is-active');
                  document.getElementById(ev.target.getAttribute('data-target')).classList.remove('is-hidden');
              });
          })
      });
  </script>
{% endblock %}

{% block body %}
  {% if HAS_LAUNCHED %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="{% url 'event_index' %}">Events</a></li>
          <li class="is-active"><a href="#">{{ event.title }}</a></li>
        </ul>
      </div>
    </nav>
  {% endif %}

  <div class="section">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
            <button class="delete" id="notification-close"></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <h2 class="is-2 title">{{ event.title }}</h2>
      <h4 class="is-6 subtitle"><strong>{{ event.location }}</strong>, {{ event.start|date:'P l jS F Y' }}
        - {{ event.end|date:'P l jS F Y' }}</h4>
      <div class="tabs is-boxed">
        <ul id="tab-container">
          <li><a href="#" data-target="info-container">Info</a></li>
          <li><a href="#" data-target="signup-container">Sign ups</a></li>
        </ul>
      </div>
      <div class="container" id="info-container">
        <h4 class="is-4 title">Event information</h4>
        <div class="content">
          {{ event.description|markdown }}
        </div>
      </div>

      <div class="container is-hidden" id="signup-container">
        <h4 class="is-4 title">Sign up information</h4>
        <div class="content">
          <ul class="has-bullets">
            <li><strong>Signups open:</strong> {{ event.signup_start|date:'P l jS F Y' }}</li>
            <li><strong>Signups close:</strong> {{ event.signup_end|date:'P l jS F Y' }}</li>
            <li><strong>Spaces left:</strong> {{ event.signup_limit }}</li>
            <li><strong>Attendance cost:</strong> CompSoc/Esports members: {% if event.cost_member == 0 %}Free{% else %}
              £{{ event.cost_member }}{% endif %}, Other*: £{{ event.cost_non_member }}</li>
          </ul>
          <p>
            <small>*: Must be a current student at the University of Warwick.</small>
          </p>
          {% if event.has_livestream %}
            <p>
              <strong>Note:</strong> This event will be streamed live on platform(s) such as Twitch.tv or YouTube. If
              you would like to not appear on the stream then do talk to one of the event organisers on the day.
            </p>
          {% endif %}
        </div>
        {% if request.user.is_authenticated %}
          {% if has_signed_up %}
            <div class="signup-tile">
              <div class="tile-left">
                <h4 class="is-4 title">Signed up</h4>
                <p>You have already signed up - click <a href="{% url 'event_unsignup' slug=event.slug %}">here</a> to
                  un-signup.</p>
                {% if event.has_seating %}
                  <p class="is-hidden-tablet">Click the button below to go to the seating plan.</p>
                  <p class="is-hidden-mobile">Click the button on the right to go to the seating plan.</p>
                {% endif %}
              </div>

              {% if event.has_seating %}
                <div class="tile-right">
                  <a href="{% url 'event_seating' slug=event.slug %}">Seating plan<i
                      class="fas fa-chevron-right"></i></a>
                </div>
              {% endif %}
            </div>

            {% if signups %}
              <div id="comments-container" class="comment-container">
                <hr/>
                <h4 class="title is-4" id="comments-title">Signup Comments</h4>
                {% for signup in signups %}
                  {% include 'events/includes/signup-comment.html' with signup=signup count=forloop.counter0 %}
                {% endfor %}
              </div>
            {% endif %}
          {% else %}
            <div class="signup-tile">
              <div class="tile-left">
                {% if signups_open %}
                  <h4 class="is-4 title">Signup to {{ event.title }}</h4>
                  <p>Signups are open for {{ event.title }}! Click <a href="{% url 'event_signup' slug=event.slug %}">here</a> to sign up.</p>
                {% else %}
                  <h4 class="is-4 title">Signups opening soon</h4>
                  <p>Signups for {{ event.title }} arent open just yet. They open at {{ signup_start|date:'P l jS F Y' }}, so check back then!</p>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}