{% extends 'dashboard/navbar_base.html' %}

{% block title %}Un-signup from {{ event.title }} | Warwick.gg{% endblock %}

{% block js %}
  {% if messages %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const deleteNotification = document.getElementById('notification-close');

            if (deleteNotification != null) {
                deleteNotification.addEventListener('click', function (ev) {
                    ev.target.parentNode.remove();
                })
            }
        });
    </script>
  {% endif %}
{% endblock %}

{% block body %}
  {% if HAS_LAUNCHED %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="{% url 'event_index' %}">Events</a></li>
          <li><a href="{% url 'event_home' slug=event.slug %}">{{ event.title }}</a></li>
          <li class="is-active"><a href="#">Sign up</a></li>
        </ul>
      </div>
    </nav>
  {% endif %}

  <section class="section">
    <div class="container">
      <div class="columns is-centered is-multiline">
        {% if messages %}
          <div class="column is-7">
            {% for message in messages %}
              <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
                <button class="delete" id="notification-close"></button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="column is-7">
          <h2 class="title is-2 has-text-centered">Un-signup from {{ event.title }}</h2>
        </div>
        <div class="column is-6">
          <p class="has-text-centered">You're about to un-signup from {{ event.title }}. By doing this, any seat you
            have reserved will be made
            available to other attendees. Click the button below to confirm this action.</p>
          <p class="has-text-centered"><br/><strong>Note:</strong> Any payment made will also be refunded.</p>
          <form method="post" action="{% url 'event_unsignup_confirm' %}">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{ event.id }}">
            <div class="field is-grouped is-grouped-centered top-margin">
              <div class="control">
                <button class="button is-primary" type="submit">Un-signup</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}