{% extends "dashboard/navbar_base.html" %}

{% load static %}

{% block template_classname %}warwickgg-signout{% endblock %}

{% block title %}Log out of warwick.gg{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="{% url 'dashboard_index' %}">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">You are about to log out of warwick.gg. Are you sure you want to log
            out?</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button class="button is-primary" type="submit">Log out</button>
              </div>
              <div class="control">
                <a class="button is-secondary" href="{% url 'dashboard_index' %}">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}