{% extends 'dashboard/navbar_base.html' %}

{% load static %}

{% block title %}Change my Warwick.gg Password{% endblock %}

{% block js %}
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
          var $notificationDelete = document.getElementById('notification-delete');

          $notificationDelete.addEventListener('click', function (ev) {
              $notificationDelete.parentNode.remove();
          });
      });
  </script>
{% endblock %}

{% block body %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
      <ul>
        <li><a href="{% url 'user_profile' %}">My Profile</a></li>
        <li class="is-active"><a href="#">Change Password</a></li>
      </ul>
    </div>
  </nav>

  <div class="section">
    <div class="container">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="is-2 title">
              Change Password
            </h2>
          </div>
        </div>
      </div>
      <div class="columns is-row-reverse-order">
        <div class="column is-4">
          <aside class="menu">
            <p class="menu-label">Account controls</p>
            <ul class="menu-list">
              <li>
                <a href="{% url 'user_profile' %}">Edit user information</a>
              </li>
              <li>
                <a href="{% url 'avatar_change' %}">Change your avatar</a>
              </li>
              <li>
                <a class="has-text-danger" href="{% url 'account_delete' %}">Delete your account</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="column is-8">
          {% if messages %}
            <div class="notification is-success">
              <button class="delete" id="notification-delete"></button>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
          <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            <div class="columns is-multiline">
              <div class="column is-full">
                {% include 'allauth/account/includes/form-field.html' with field=form.oldpassword %}
              </div>
              <div class="column is-6">
                {% include 'allauth/account/includes/form-field.html' with field=form.password1 %}
              </div>
              <div class="column is-6">
                {% include 'allauth/account/includes/form-field.html' with field=form.password2 %}
              </div>
              <div class="column is-full">
                <div class="field is-grouped is-grouped-right">
                  <div class="control">
                    <button class="button is-primary" type="submit">Change password</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}