{% extends "base.html" %}

{% block title %}Warwick.gg password reset{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      {% if user.is_authenticated %}
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="notification is-primary">
              <p>
                <strong>Note:</strong> You are already logged in as {{ request.user.get_long_name }}.
              </p>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="/">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">A password reset email has been sent to you. Please let on of the <a href="https://uwcs.co.uk/about/exec/">UWCS exec</a> know if it doesn't arrive in a few minutes.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}