{% extends "base.html" %}

{% block title %}Reset your Warwick.gg password{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="/">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">To reset your password please type in your account's email address
            in the form below:</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <form class="signup" id="reset_form" method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <div class="columns is-multiline">
              <div class="column is-full">
                {% include 'allauth/account/includes/form-field.html' with field=form.email %}
              </div>
              <div class="column">
                <p class="required-help">Asterisk (<span class="is-required">*</span>) denotes a required field</p>
              </div>
              <div class="column is-narrow">
                <div class="field is-grouped is-grouped-right">
                  <div class="control">
                    <button class="button is-primary" type="submit">Reset my password</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <hr/>
          <p class="has-text-centered">If you have any issues resetting your password please get in contact with the <a href="https://uwcs.co.uk/about/exec/">UWCS exec</a>.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}