{% extends "base.html" %}

{% block title %}Set your Warwick.gg password{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="/">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">Please fill out the form below to set your Warwick.gg password.</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <form method="post" action="{% url 'account_set_password' %}">
            <div class="columns is-multiline">
              <div class="column is-6">
                {% include 'allauth/account/includes/form-field.html' with field=form.password1 %}
              </div>
              <div class="column is-6">
                {% include 'allauth/account/includes/form-field.html' with field=form.password2 %}
              </div>
              <div class="column">
                <p class="required-help">Asterisk (<span class="is-required">*</span>) denotes a required field</p>
              </div>
              <div class="column is-narrow">
                <div class="field is-grouped is-grouped-right">
                  <div class="control">
                    <button class="button is-primary" type="submit">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}