{% extends "base.html" %}

{% block template_classname %}warwickgg-signup{% endblock %}

{% block title %}Sign up for a Warwick.gg account{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="/">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">To sign up to Warwick.gg, please fill out the form below:</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="columns is-multiline">
              <div class="column is-full">
                {% include 'allauth/account/includes/form-field.html' with field=form.email %}
              </div>
              <div class="column is-half-tablet">
                {% include 'allauth/account/includes/form-field.html' with field=form.first_name %}
              </div>
              <div class="column is-half-tablet">
                {% include 'allauth/account/includes/form-field.html' with field=form.last_name %}
              </div>
              <div class="column is-half-tablet">
                {% include 'allauth/account/includes/form-field.html' with field=form.uni_id custom_label='University ID' %}
              </div>
              <div class="column is-half-tablet">
                {% include 'allauth/account/includes/form-field.html' with field=form.nickname %}
              </div>
              <div class="column is-half-tablet">
                {% include 'allauth/account/includes/form-field.html' with field=form.password1 %}
              </div>
              <div class="column is-half-tablet">
                {% include 'allauth/account/includes/form-field.html' with field=form.password2 %}
              </div>
              <div class="column is-full">
                <input class="is-checkradio is-primary" type="checkbox" name="{{ form.privacy_policy_read.name }}"
                       id="{{ form.privacy_policy_read.id_for_label }}" required>
                <label for="{{ form.privacy_policy_read.id_for_label }}"><span class="is-required">*</span> I have read
                  and agree to the <a href="{% url 'privacy_policy' %}">Warwick.gg privacy policy</a>.</label>
              </div>
              <div class="column">
                <p class="required-help">Asterisk (<span class="is-required">*</span>) denotes a required field</p>
              </div>
              <div class="column is-narrow">
                <div class="field is-grouped is-grouped-right">
                  <div class="control">
                    <button class="button is-primary" type="submit">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}