{% extends "base.html" %}

{% block template_classname %}warwickgg-verify{% endblock %}

{% block title %}Verify your warwick.gg account{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="/">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">We have sent an e-mail to you for verification. Follow the link
            provided to finalize the signup process. Please contact us if you do not receive it within a few
            minutes.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}