{% extends "base.html" %}

{% block title %}Verify your Warwick.gg email{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="/">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <div class="content">
            <p class="has-text-centered">This part of the site requires us to verify that
              you are who you claim to be. For this purpose, we require that you
              verify ownership of your e-mail address.</p>

            <p class="has-text-centered">We have sent an e-mail to you for
              verification. Please click on the link inside this e-mail. Please
              contact us if you do not receive it within a few minutes.</p>

            <p class="has-text-centered"><strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}