{% extends 'dashboard/navbar_base.html' %}

{% load static %}

{% block title %}Seating for {{ event.title }} | Warwick.gg{% endblock %}

{% block template_classname %}warwickgg-seating{% endblock %}

{% block js %}
  {% if has_signed_up or is_exec %}
    <script type="text/javascript">
        const loggedInUserId = {{ request.user.id }};
        const isExec = {{ is_exec|lower }};
        const eventId = {{ event.id }};
    </script>
    <script src="{% static 'js/seating.js' %}"></script>
  {% else %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            let $modalClose1 = document.getElementById('close-modal-top');
            let $modalClose2 = document.getElementById('close-modal-bottom');
            let $modalBackground = document.getElementById('modal-background');
            let $modalContainer = document.getElementById('modal-container');

            // Close the modal
            $modalClose1.addEventListener('click', function () {
                $modalContainer.classList.remove('is-active');
            });
            $modalClose2.addEventListener('click', function () {
                $modalContainer.classList.remove('is-active');
            });
            $modalBackground.addEventListener('click', function () {
                $modalContainer.classList.remove('is-active');
            });
        });
    </script>
  {% endif %}
{% endblock %}

{% block body %}
  {% if HAS_LAUNCHED %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="{% url 'event_index' %}">Events</a></li>
          <li><a href="{% url 'event_home' slug=event.slug %}">{{ event.title }}</a></li>
          <li class="is-active"><a href="#">Seating Plan</a></li>
        </ul>
      </div>
    </nav>
  {% endif %}

  <div class="notification is-warning is-hidden-desktop">
    <div class="container">
      This part of the website has been optimised for desktop and laptop computers. There may be bugs if you use a phone
      or tablet.
    </div>
  </div>

  <section class="section">
    <div class="container" id="seating-chart-container">
      <div class="columns">
        <div class="column">
          <h2 class="title is-2">Seating Plan for {{ event.title }}</h2>
          <h6 class="subtitle is-6">Click <a href="{% url 'seating_faqs' %}">here</a> to see the seating plan FAQs</h6>
          <div class="notification is-danger is-hidden" id="seating-error-notification">
              <button class="delete"></button>
              <span>
              </span>
          </div>

        </div>
        <div class="column is-narrow button-wrapper">
          {% if has_signed_up or is_exec %}
            <button class="button is-primary" id="seating-commit-button" type="button" disabled>
                <i class="fas fa-save"></i>Save
            </button>
          {% endif %}
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <div class="seating-unassigned-container">
            <h4 class="title is-4">Unassigned seats</h4>
            <p>Drag yourself to a seat and click 'Save' to reserve your seat.</p>
            <div id="seating-unassigned"></div>
          </div>
          {% if not has_signed_up %}
            <div class="signup-alert-container">
              <h4 class="title is-4">Not signed up</h4>
              <p>You haven't signed up to this event. Click <a href="{% url 'event_signup' slug=slug %}">here</a> to
                sign up.</p>
            </div>
          {% endif %}
          {% if is_exec %}
            <div class="revision-list-container">
              <h4 class="title is-4">Revision list</h4>
              <p>Click on a revision and save to revert the plan to that revision.</p>
              <ul id="seating-revision-log"></ul>
            </div>
          {% endif %}
        </div>
        <div class="column">
          <div id="seating-chart">
            {% include 'bfl-seating-optimised.svg' %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="seating-chart-popup" class="level is-hidden">
    <img class="seating-avatar" src="">
    <span class="seating-username"></span>
  </div>

  {% if not has_signed_up and not is_exec %}
    <div class="modal is-active" id="modal-container">
      <div class="modal-background" id="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Please sign up</p>
          <button id="close-modal-top" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="content">
            <p>To reserve a seat for this event you need to have signed up first. Please sign up and come back
              later.</p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <a href="{% url 'event_signup' slug=slug %}" class="has-text-right button is-primary">Sign up</a>
          <button id="close-modal-bottom" class="has-text-right button is-secondary">Close</button>
        </footer>
      </div>
    </div>
  {% endif %}

{% endblock %}
