{% extends 'dashboard/navbar_base.html' %}

{% load static %}

{% block title %}Warwick.gg seating plan FAQs {% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <h2 class="title is-2">Seating Plan FAQs</h2>
          <div class="content">
            <h4 class="is-4 title">How do I seat myself?</h4>
            <p>Drag and drop from the “unassigned” area onto a free seat, then you’re done. You can also move yourself
              around after this, whenever you drop it will save!</p>

            <h4 class="is-4 title">My change isn’t showing, what’s up?</h4>
            <p>Very occasionally, two people will move themselves simultaneously and it will only record one of you!
              Sorry about that, just move yourself again.</p>

            <h4 class="is-4 title">I was moved and I am not happy about it.</h4>
            <p>If you have been shifted more than a couple of seats along (or didn’t want to be shifted at all), please
              contact a UWCS exec member as we have a revision history and can revert it for you and ask the person who
              moved you not to.</p>

            <h4 class="is-4 title">Someone sat in a seat I wanted, what should I do?</h4>
            <p>Ask them! If you don’t know who they are or can’t find them on Discord to PM, contact an exec to pass
              along the message. Polite shifting down of seats if there is free space is usually considered okay (but if
              the
              person is not happy, please let them move back, we keep revisions to see who was there first!).</p>

            <h4 class="is-4 title">Can I reserve seats for friends?</h4>
            <p>Unfortunately not, please get them to sign up and place themselves asap!</p>

            <h4 class="is-4 title">How do I change my picture?</h4>
            <p>You can either upload an avatar in your profile (accessible in the menu dropdown in the top right) or by
              changing the Gravatar associated with the email address you signed up with.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}