{% extends 'dashboard/navbar_base.html' %}

{% load static %}

{% block title %}What is Warwick.gg?{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <h2 class="title is-2">What is Warwick.gg?</h2>
          <div class="content">
            <p>Warwick.gg is a new LAN management platform developed by the <a href="https://uwcs.co.uk">University of
              Warwick Computing Society</a> for their LAN parties. It has made it possible for changes in the way UWCS
              organises its LANs in ways previously not considered, like allowing non-society members to sign up to LANs
              for a small fee.</p>
            <p>Warwick.gg is still in active development with its source code available <a
                href="https://github.com/davidjrichardson/warwick_gg">GitHub</a> under an MIT license. You can also take
              a look at the Warwick.gg privacy policy <a href="{% url 'privacy_policy' %}">here</a>.</p>
            <p>If you have any issues using Warwick.gg, please contact one of the <a href="https://uwcs.co.uk/about/exec">UWCS
              Exec</a>. They should be able to help you out with your problems.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}