{% extends 'base.html' %}
{% load svg static %}

{% block template_classname %}warwickgg-home{% endblock %}

{% block title %}Warwick.gg - LAN and Gaming app for the Uni of Warwick Computing Society{% endblock %}

{% block content %}
  <div class="svg-container is-hidden-mobile">
    {% svg 'combined' %}
  </div>

  <div class="svg-container mobile is-hidden-tablet">
    {% svg 'combined-mobile' %}
  </div>

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div>
          <h1 class="warwickgg-title has-text-centered">Warwick<span class="superscript">.gg</span></h1>
          <h1 class="warwickgg-title is-underglow has-text-centered">Warwick<span class="superscript">.gg</span></h1>
          <p class="has-text-centered">Warwick.gg is the all-in-one gaming application for the University of Warwick
            Computing Society, managing things like LAN tournaments to pizza orders.</p>
        </div>
        <div class="button-container columns is-variable is-8 is-centered">
          <div class="column is-narrow">
            <a class="button" href="#">Learn more</a>
          </div>
          <div class="column is-narrow">
            {% if request.user.is_authenticated %}
              <a class="button is-primary" href="{% url 'dashboard_index' %}">Open app</a>
            {% else %}
              <a class="button is-primary" href="{% url 'account_login' %}">Log in</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}