{% extends 'base.html' %}
{% load svg static %}

{% block template_classname %}warwickgg-home{% endblock %}

{% block title %}Warwick.gg - LAN and Gaming app for the Uni of Warwick Computing Society{% endblock %}

{% block content %}
{#  <div class="notification is-warning is-radiusless is-hidden-tablet">#}
{#    <button class="delete"></button>#}
{#    This website has been developed to be used in a desktop browser. Use on a mobile phone or tablet may end up in strange behaviours with unforeseen consequences.#}
{#  </div>#}

  <div class="svg-container is-hidden-mobile">
    {% svg 'combined' %}
  </div>

  <div class="svg-container mobile is-hidden-tablet">
    {% svg 'combined-mobile' %}
  </div>

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div>
          <h1 class="warwickgg-title has-text-centered">Warwick<span class="superscript">.gg</span></h1>
          <h1 class="warwickgg-title is-underglow has-text-centered">Warwick<span class="superscript">.gg</span></h1>
          <p class="has-text-centered">Warwick.gg is the all-in-one gaming application for the University of Warwick
            Computing Society, managing things like LAN tournaments to pizza orders.</p>
        </div>
        <div class="button-container columns is-variable is-8 is-centered">
          <div class="column is-narrow">
            <a class="button">Learn more</a>
          </div>
          <div class="column is-narrow">
            {# TODO: Handle with state about not being logged in #}
            <a class="button is-primary">Open app</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}