{% extends 'dashboard/navbar_base.html' %}

{% block title %}The Warwick.gg Privacy Policy{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <h2 class="title is-2">The Warwick.gg Privacy Policy</h2>
          <h6 class="subtitle is-6">Last updated 11:48 p.m, Saturday 9th June 2018</h6>
          <div class="content">
            <p>The University of Warwick Computing Society may collect personally identifiable information about you,
              such as your full name, email address, and University of Warwick ID number or SU Associate Member number.
              In cases where you make purchases from us, we or our third party payment processors will collect your
              payment information. We do not share your information with other third parties.</p>
            <p>We use this information to identify you at our events and establish that you are eligible to sign up to
              them. We may send you emails upon request for technical support. We may also send promotional emails, if
              you are an active member (have paid the membership fee to the Students Union for the current academic
              year), are a former member of our exec team, or have opted in to receive them.</p>
            <p>Warwick.gg is developed as an open-source project and its source code is available to be viewed <a
                href="https://github.com/davidjrichardson/warwick_gg">on GitHub</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}