{% extends 'base.html' %}

{% load static %}

{% block title %}Warwick.gg Dashboard{% endblock %}

{% block template_classname %}warwickgg-dash{% endblock %}

{% block content %}
  <div id="is-page-wrapper">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="{% url 'dashboard_index' %}">
          <h1 class="warwickgg-title has-text-centered">Warwick<span class="superscript">.gg</span></h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="#">Events</a>
          </div>
          <div class="navbar-item">
            <a href="#">Tournaments</a>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="#" class="navbar-link">Links</a>
            <div class="navbar-dropdown is-boxed">
              <div class="navbar-item">
                <a href="https://discord.gg/uwcs">Discord</a>
              </div>
            </div>
          </div>
          {# TODO: Menu items #}
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="#" class="navbar-link">{{ request.user.warwickgguser.long_name }}</a>
            <div class="navbar-dropdown is-right is-boxed">
              <div class="navbar-item">
                <a href="{% url 'user_profile' %}">View profile</a>
              </div>
              <hr class="navbar-divider">
              <div class="navbar-item">
                <a id="logout" href="{% url 'account_logout' %}{# TODO: Transform request into a POST #}">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
{% endblock %}