.warwickgg-title {
  font-family: "Jaapokki Subtract", sans-serif;
  text-transform: uppercase;
  font-size: 108px;
  color: $uwcs_blue;

  text-shadow: 0px 5px 15px transparentize($warwickgg_blue_shadow, 0.4);

  &.is-underglow {
    position: absolute;
    top: 50px;
    left: 83px;
    transform: scaleY(-0.25);
    color: transparent;
    text-shadow: 0px 15px 40px transparentize($warwickgg_blue_shadow, 0.22);

    // Stop the text from being selectable
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
  }

  & span.superscript {
    font-size: 54px;
    vertical-align: top;
  }
}

.warwickgg-home {
  & .button-container {
    margin-top: 40px;
  }

  & .button {
    width: 200px;
    height: 50px;
    top: 0px;

    background: $warwickgg_dark_grey;
    color: rgba(255, 255, 255, 0.87);
    border: 0px solid transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);

    &:hover,
    &:focus {
      top: 1px;
      color: white;
      background: lighten($warwickgg_dark_grey, 5%);
    }

    transition: all 0.2s ease-in-out;

    &.is-primary {
      color: rgba(255, 255, 255, 0.87);
      background: $uwcs_blue;

      box-shadow: 0px 2px 4px $warwickgg_blue_shadow;

      &:hover,
      &:focus {
        color: white;
        background: lighten($uwcs_blue, 5%);
      }
    }
  }

  & .hero {
    margin-top: 155px;
  }

  & .container {
    max-width: 770px;
  }

  & .svg-container svg {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: -1;

    margin: 0 auto;

    width: 835px;
    height: 900px;
  }

  // SVG Animation
  @keyframes circle-float {
    0%, 100% {
      transform: translateY(-4px)
    }
    50% {
      transform: translateY(4px)
    }
  }

  @keyframes circle-fade {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }

  @keyframes shield-float {
    0%, 100% {
      transform: translate(283px, 441px)
    }
    50% {
      transform: translate(283px, 444px)
    }
  }

  @keyframes pizza-float {
    0%, 100% {
      transform: translate(615px, 561px)
    }
    50% {
      transform: translate(615px, 566px)
    }
  }

  @keyframes blue-dot-fill {
    0%, 95%, 100% {
      fill: $warwickgg_black;
    }
    96% {
      fill: $uwcs_blue_dark;
    }
  }

  @keyframes yellow-dot-fill {
    0%, 95%, 100% {
      fill: $warwickgg_black;
    }
    96% {
      fill: $uwcs_yellow_dark;
    }
  }

  & svg {
    // Shield dot flash animation
    & path#dot-1 {
      animation: blue-dot-fill 18s ease-in-out -9s infinite;
    }
    & path#dot-2 {
      animation: blue-dot-fill 18s ease-in-out -8.85s infinite;
    }
    & path#dot-3 {
      animation: yellow-dot-fill 18s ease-in-out -8.7s infinite;
    }
    & path#dot-4 {
      animation: yellow-dot-fill 18s ease-in-out -8.55s infinite;
    }
    // Shield animation
    & g#shield {
      animation: shield-float 9s ease-in-out infinite
    }
    // Pizza animation
    & g#pizza {
      animation: pizza-float 7s ease-in-out -1.67s infinite
    }
    // Dot background animation
    & circle#dot-1,
    & circle#dot-5 {
      animation: circle-float 6s ease-in-out infinite, circle-fade 11s ease-in-out -1.5s infinite
    }
    & circle#dot-2,
    & circle#dot-7 {
      animation: circle-float 8s ease-in-out -1s infinite, circle-fade 7s ease-in-out infinite
    }
    & circle#dot-3 {
      animation: circle-float 11s ease-in-out -0.5s infinite, circle-fade 13s ease-in-out -2s infinite
    }
    & circle#dot-4,
    & circle#dot-6 {
      animation: circle-float 7s ease-in-out infinite, circle-fade 10s ease-in-out -4s infinite
    }
    & circle#dot-8,
    & circle#dot-9 {
      animation: circle-float 10s ease-in-out -2s infinite, circle-fade 6s ease-in-out infinite
    }
  }
}
