@import "sass/utilities/mixins";

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  & .site-content {
    flex: 1;
  }
}

.warwickgg-title {
  font-family: "Jaapokki Subtract", sans-serif;
  text-transform: uppercase;
  font-size: 6.75rem;
  color: $uwcs_blue;

  @include mobile {
    font-size: 3.25rem;
  }

  text-shadow: 0px 5px 15px transparentize($warwickgg_blue_shadow, 0.4);

  &.is-underglow {
    position: absolute;
    top: 50px;
    left: 83px;
    transform: scaleY(-0.25);
    color: transparent;
    text-shadow: 0px 15px 40px transparentize($warwickgg_blue_shadow, 0.22);

    // Stop the text from being selectable
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
  }

  & span.superscript {
    font-size: 0.5em;
    vertical-align: top;
  }
}

.warwickgg-home {
  padding: 0 1rem;

  & .hero-body {
    padding: 3rem 0;
  }

  & .button-container {
    margin-top: 40px;
  }

  & .button {
    width: 200px;
    height: 50px;
    top: 0px;

    background: $warwickgg_dark_grey;
    color: rgba(255, 255, 255, 0.87);
    border: 0px solid transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);

    @include mobile {
      width: 100%;
    }

    &:hover,
    &:focus {
      top: 1px;
      color: white;
      background: lighten($warwickgg_dark_grey, 2.5%);
    }

    transition: all 0.2s ease-in-out;

    &.is-primary {
      color: rgba(255, 255, 255, 0.87);
      background: $uwcs_blue;

      box-shadow: 0px 2px 4px $warwickgg_blue_shadow;

      &:hover,
      &:focus {
        color: white;
        background: darken($uwcs_blue, 2.5%);
      }
    }
  }

  & .hero {
    margin-top: 155px;

    @include mobile {
      margin-top: 0;
    }
  }

  & .container {
    max-width: 770px;
  }

  & .svg-container {
    &.mobile {
      transform: translateX(calc(50vw - 417.5px));

      & svg {
        top: -10px;
      }
    }

    & svg {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      z-index: -1;

      margin: 0 auto;

      width: 835px;
      height: 900px;

    }
  }

  // SVG Animation
  @keyframes circle-float {
    0%, 100% {
      transform: translateY(-4px)
    }
    50% {
      transform: translateY(4px)
    }
  }

  @keyframes circle-fade {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }

  @keyframes shield-float {
    0%, 100% {
      transform: translate(283px, 441px)
    }
    50% {
      transform: translate(283px, 444px)
    }
  }

  @keyframes pizza-float {
    0%, 100% {
      transform: translate(615px, 561px)
    }
    50% {
      transform: translate(615px, 566px)
    }
  }

  @keyframes blue-dot-fill {
    0%, 95%, 100% {
      fill: $warwickgg_black;
    }
    96% {
      fill: $uwcs_blue_dark;
    }
  }

  @keyframes yellow-dot-fill {
    0%, 95%, 100% {
      fill: $warwickgg_black;
    }
    96% {
      fill: $uwcs_yellow_dark;
    }
  }

  & svg {
    // Shield dot flash animation
    & path#dot-1 {
      animation: yellow-dot-fill 18s ease-in-out -9s infinite;
    }
    & path#dot-2 {
      animation: yellow-dot-fill 18s ease-in-out -8.85s infinite;
    }
    & path#dot-3 {
      animation: blue-dot-fill 18s ease-in-out -8.7s infinite;
    }
    & path#dot-4 {
      animation: blue-dot-fill 18s ease-in-out -8.55s infinite;
    }
    // Shield animation
    & g#shield {
      animation: shield-float 9s ease-in-out infinite
    }
    // Pizza animation
    & g#pizza {
      animation: pizza-float 7s ease-in-out -1.67s infinite
    }
    // Dot background animation
    & circle#dot-1,
    & circle#dot-5 {
      animation: circle-float 6s ease-in-out infinite, circle-fade 11s ease-in-out -1.5s infinite
    }
    & circle#dot-2,
    & circle#dot-7 {
      animation: circle-float 8s ease-in-out -1s infinite, circle-fade 7s ease-in-out infinite
    }
    & circle#dot-3 {
      animation: circle-float 11s ease-in-out -0.5s infinite, circle-fade 13s ease-in-out -2s infinite
    }
    & circle#dot-4,
    & circle#dot-6 {
      animation: circle-float 7s ease-in-out infinite, circle-fade 10s ease-in-out -4s infinite
    }
    & circle#dot-8,
    & circle#dot-9 {
      animation: circle-float 10s ease-in-out -2s infinite, circle-fade 6s ease-in-out infinite
    }
  }
}

// Sign-in page
input {
  transition: border $speed ease-in-out, box-shadow $speed ease-in-out;

  & ~ .icon {
    transition: color 0.2s ease-in-out;
  }
}

a {
  transition: color 0.2s ease-in-out;
}

.title-container {
  margin-top: 4rem;
  margin-bottom: 0;

  & h1 a {
    transition: color $speed ease-in-out;

    color: $uwcs_blue;

    & span {
      position: relative;
      top: 0;

      transition: top $speed ease-in-out, color $speed ease-in-out;
    }
  }

  & h1 a:hover {
    color: $link;

    & span {
      top: 3px;

      color: white;
    }
  }

  @include mobile {
    margin-top: 3rem;
  }
}

body hr {
  background-color: lighten($warwickgg_dark_grey, 10%);
}

.warwickgg-signin {
  & .notification {
    width: 100%;
  }

  & .button {
    top: 0;
    transition: all 0.2s ease-in-out;

    position: relative;
    color: rgba(255, 255, 255, 0.87);

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);

    &.is-primary {
      box-shadow: 0px 2px 4px $warwickgg_blue_shadow;
    }

    &.uwcs-signin {
      background-color: $warwickgg_dark_grey;
      border: 0px solid transparent;

      &:hover {
        background-color: lighten($warwickgg_dark_grey, 2.5%);
      }
    }
  }

  & .button:hover,
  & .button:focus {
    top: 1px;
    color: white;
  }

  & form {
    width: 100%;

    .checkbox {
      color: $text;

      &:hover {
        color: $text;
      }
    }

    & span.uwcs-font {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: 700;
      margin-right: 6px;
      margin-left: -2px;
    }
  }
}

// Signup page
.is-required {
  color: $red;
  font-weight: normal;
}

.required-help {
  font-size: $size-7;

  color: rgba(255, 255, 255, 0.7);
}

.warwickgg-signup {
  .button {
    position: relative;
    top: 0px;

    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0px 2px 4px $warwickgg_blue_shadow;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      top: 1px;
      color: $white;
    }
  }
}

// Log out page
.button.is-secondary {
  top: 0;
  position: relative;

  background-color: $warwickgg_dark_grey;
  border: 0px solid transparent;
  color: rgba(255, 255, 255, 0.87);

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);

  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    top: 1px;
    color: white;
    background-color: lighten($warwickgg_dark_grey, 2.5%);
  }
}

.warwickgg-signout {
  .button.is-primary {
    top: 0;
    position: relative;

    color: rgba(255, 255, 255, 0.87);

    transition: all 0.2s ease-in-out;

    box-shadow: 0px 2px 4px $warwickgg_blue_shadow;

    &:hover,
    &:focus {
      top: 1px;
      color: white;
    }
  }
}

textarea.textarea {
  transition: all $speed ease-in-out;
}

a.navbar-burger {
  transition: all 0.2s ease-in-out;

  color: rgba(255, 255, 255, 0.87);

  &:hover,
  &:focus {
    color: white;
    background-color: $navbar-item-hover-background-color;
  }
}

.navbar-item .navbar-link {
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &::after {
    border-width: 2px;
  }
}

.navbar-item.is-active .navbar-link {
  color: white;
}

div.navbar-dropdown {
  border-top-color: $navbar-divider-background-color;

  &.is-boxed {
    transform: translateY(-2px);
  }

  & .navbar-item {
    transition: all 0.2s ease-in-out;

    background-color: transparent;

    &.is-active {
      background-color: $navbar-dropdown-item-active-background-color;

      & a {
        color: $navbar-dropdown-item-active-color;
      }
    }

    & a {
      color: rgba(255, 255, 255, 0.87);
    }

    &:hover,
    &:focus {
      background-color: $navbar-dropdown-item-hover-background-color;

      & a {
        color: $navbar-dropdown-item-hover-color;
      }
    }
  }
}

.navbar-brand {
  padding: 0 1rem;
}

.navbar-item {
  transition: all $speed ease-in-out;

  & a {
    color: rgba(255, 255, 255, 0.87);
  }

  &:hover {
    background-color: $navbar-item-hover-background-color;

    & a {
      color: white;
    }
  }
}

// Dashboard styling
.navbar-brand {
  & .warwickgg-title {
    font-size: 2.2rem;
    text-shadow: 0px 3px 6px transparentize($warwickgg_blue_shadow, 0.4);
    padding-top: 8px;

    transition: all $speed ease-in-out;

    & span {
      transition: all $speed ease-in-out;
      position: relative;
      top: 0;
    }
  }

  &:hover .warwickgg-title {
    color: lighten($uwcs_blue, 3%);

    & span {
      color: $warwickgg_light_blue;
      top: 1px;
      text-shadow: 0px 3px 6px transparentize($warwickgg_light_blue_shadow, 0.4);
    }
  }
}

.navbar-item.is-active {
  background-color: $navbar-item-hover-background-color;

  & a {
    color: $navbar-item-active-color;
  }
}

.warwickgg-dash {
  & a {
    & .warwickgg-title {
      font-size: 2.2rem;
      text-shadow: 0px 3px 6px transparentize($warwickgg_blue_shadow, 0.4);
      padding-top: 8px;

      transition: all $speed ease-in-out;

      & span {
        transition: all $speed ease-in-out;
        position: relative;
        top: 0;
      }
    }

    &:hover .warwickgg-title {
      color: lighten($uwcs_blue, 3%);

      & span {
        color: $warwickgg_light_blue;
        top: 1px;
        text-shadow: 0px 3px 6px transparentize($warwickgg_light_blue_shadow, 0.4);
      }
    }
  }
}

#tournament-index-link {
  & i {
    position: relative;
    left: 0;

    transition: left $speed ease-in-out;
  }

  &:hover i {
    left: 3px;
  }
}

.title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.section-title {
  display: inline-block;
  line-height: 1.5em;
  border-bottom: 2px solid $uwcs-blue;

  margin-left: -2px;
  padding: 0 2px;
}

.warwickgg-dash {
  .hero {
    & h1.title {
      margin-bottom: 2.5rem;
    }

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .level .level-left .title {
    margin-bottom: 1rem;
  }
}

.tournament-box {
  box-shadow: 0 0 0 rgba(black, 0);
  background-color: lighten($warwickgg_black, 3%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  padding: 1.25rem;

  transition: all $speed ease-in-out;

  border-radius: $radius-large;

  color: rgba(255, 255, 255, 0.87);

  & .content ul {
    list-style: none;
    margin-left: 0;
  }

  &.empty {
    & p i {
      color: lighten($warwickgg_dark_grey, 5%);
      margin-bottom: 2rem;
      margin-top: 0.33rem;
    }
  }

  &:not(.empty):hover,
  &:not(.empty):focus {
    box-shadow: 0 3px 6px rgba(black, 0.1);
    background-color: $warwickgg_dark_grey;

    color: white;
  }

  & span.signed-up {
    color: rgba($green, 0.87);
  }
}

// Profile
#edit-button {
  margin-left: 0.5rem;
}

.is-hidden {
  display: none;
}

.is-row-reverse-order {
  flex-direction: row-reverse;
}

p.menu-label {
  font-family: $family-title;
  color: rgba(white, 0.7);
  margin-bottom: 1rem;
}

.menu-list li a {
  transition: all $speed ease-in-out;
}

button.is-primary.is-primary.is-primary.is-primary,
button.is-danger.is-danger.is-danger.is-danger {
  top: 0;
  position: relative;

  transition: all $speed ease-in-out;

  &:enabled:hover,
  &:enabled:focus {
    top: 1px;
  }
}

a.button.is-primary {
  top: 0;
  position: relative;

  transition: all $speed ease-in-out;

  &:hover,
  &:focus {
    top: 1px;
  }
}

.is-full-width {
  width: 100%;
}

.rounded-image {
  border-radius: $radius-large;
}

// Change avatar/password
.breadcrumb {
  background-color: darken($warwickgg_dark_grey, 3.5%);

  & ul a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.file-label {
  &:hover,
  &:focus {
    & span.file-cta {
      background-color: lighten($warwickgg_dark_grey, 2.5%);
      border-color: $input-hover-border-color;
      color: white;
    }

    & span.file-name {
      border-color: $input-border-color;
    }
  }

  & span.file-name {
    transition: all $speed ease-in-out;

    border-color: $input-border-color;
    color: rgba(white, 0.7);
  }

  & span.file-cta {
    transition: all $speed ease-in-out;

    background-color: $warwickgg_dark_grey;
    border-color: $input-border-color;

    color: rgba(white, 0.87);

    &:hover,
    &:focus {
      background-color: lighten($warwickgg_dark_grey, 2.5%);
      border-color: $input-hover-border-color;
      color: white;
    }

    &:hover + span.file-name,
    &:focus + span.file-name {
      border-color: $input-border-color;
    }
  }
}

.breadcrumb .container ul li:not(.is-active) a {
  color: $uwcs-blue;

  &:hover {
    color: $link;
  }
}

// Event homepage
.content.content.content {
  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-family: $family-title;
    color: rgba(white, 0.87);
  }
}

.subtitle.subtitle.subtitle {
  & strong {
    font-weight: 700;
    color: rgba(white, 0.87);
  }
}

.tabs li a {
  transition: all $speed ease-in-out;
}

div.columns.comment-divider {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  & .column.is-6 {
    padding-top: 0;
    padding-bottom: 0;

    & hr {
      margin: 0;
    }
  }
}

article.media {
  display: flex;

  & .media-left {
    margin-right: 1.5rem;
  }

  & .media-content {
    overflow: inherit;

    & + article.media {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.signup-tile {
  background-color: $uwcs_blue;
  padding: 1rem;
  border-radius: $radius;

  display: flex;
  flex-wrap: nowrap;

  & .tile-left {
    display: block;
    flex: 1;
  }

  & .tile-right {
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & a {
      text-align: center;
      padding: 2rem 0 2rem 1rem;

      & i.fas {
        position: relative;
        left: 0;

        margin-left: 8px;

        transition: all $speed ease-in-out;
      }

      &:hover i.fas,
      &:focus i.fas {
        left: 3px;
      }
    }
  }

  & h4.title.is-4 {
    margin-bottom: 1rem;
  }

  & p:not(:last-child) {
    margin-bottom: 0.33rem;
  }

  & a {
    color: white;
    font-weight: bold;

    &:focus,
    &:hover {
      text-decoration: underline;

      color: white;
    }
  }

  @include mobile {
    flex-wrap: wrap;

    & .tile-left {
      flex-basis: 100%;
    }

    & .tile-right {
      flex-basis: 100%;

      margin-top: 0.7rem;

      border-top: 1px solid white;
      border-left: 0px solid transparent;

      & a {
        padding: 2rem 2rem 1rem;
      }
    }
  }
}

// Event signup page
.is-checkradio ~ p.help {
  margin-top: 0.5rem;
}

.top-margin {
  margin-top: 1rem;
}

// Event index page
.events-container {
  & .tile.is-child {
    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: $radius-large;

    background-color: $warwickgg_dark_grey;

    & > p {
      margin-bottom: 1rem;
    }

    & .content ul {
      margin-left: 0;
      list-style: none;
    }

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);

    &.is-ongoing {
      background-color: $uwcs_blue;

      & .subtitle {
        color: rgba(white, 0.87);
      }

      box-shadow: 0px 0px 4px rgba($warwickgg_blue_shadow, 0.23);

      & h3.title.is-3 a {
        color: white;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}