.warwickgg-seating {
  & #seating-chart-container {
    position: relative; /* add position:relative on the out box */
  }

  & #seating-commit-button {
    align-self: flex-end;
  }

  & button i.fas {
    margin-right: 4px;
  }

  & .user-seat {
    cursor: move;

    &.locked {
      cursor: not-allowed;
    }
  }

  & .seat {
    fill: #3B434B;

    transition: fill $speed ease-in-out;
  }

  & .seating-chart-dragging {
    & .seating-unassigned-container {
      &:hover {
        background-color: lighten($warwickgg_dark_grey, 3%);
      }
    }

    & .seat {
      fill: #253354;
    }

    & .seat:not(.user-seat):hover {
      fill: darken($uwcs_blue_dark, 10%);
    }
    & .seat.user-seat:hover {
      cursor: no-drop;
    }
  }

  & .logged-in-user-seat {
      stroke: rgba(white, 0.7);
  }

  & .seating-unassigned-container {
    background-color: $warwickgg_dark_grey;
    border-radius: $radius-large;
    padding: 1rem;

    transition: background-color $speed ease-in-out;

    & #seating-unassigned {
      margin-top: 0.5rem;

      display: flex;
      flex-wrap: wrap;
    }
  }

  & .button-wrapper {
    display: flex;
  }

  & .modal {
    & .modal-card-title {
      font-family: $family-title;
      font-weight: 700;
    }

    & .modal-card-foot {
      display: flex;
      justify-content: flex-end;
    }
  }

  & .unassigned-user {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    margin-right: 0.5rem;
    margin-top: 0.5rem;

    background-color: $warwickgg_black;
    border-radius: $radius;

    justify-content: start;
    cursor: move;

    &.locked {
      cursor: not-allowed;
    }

    & span {
      margin: 5px;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    & img {
      height: 32px;
      width: 32px;
      margin: 6px;

      border-radius: $radius-small;
    }
  }

  & #seating-chart-popup {
    position: absolute;
    display: flex;

    background-color: $navbar-dropdown-item-hover-background-color;
    padding: 0.5rem;

    border-radius: $radius-large;

    box-shadow: 0 8px 8px rgba(10,10,10,0.1),0 0 0 1px rgba(10,10,10,0.1);

    & img {
      height: 48px;
      width: 48px;

      border-radius: $radius;

      margin-right: 0.5rem;
    }
  }

  & .signup-alert-container {
    border-radius: $radius-large;
    margin-top: 1rem;
    background-color: $warwickgg_dark_grey;
    padding: 1rem;
  }

  & .revision-list-container {
    border-radius: $radius-large;
    margin-top: 1rem;
    background-color: $warwickgg_dark_grey;

    & h4 {
      padding: 1rem;
      margin-bottom: 0.5rem;
    }

    & p {
      padding: 0 1rem 0.5rem;
    }

    & #seating-revision-log {
      padding-bottom: 1rem;
    }

    & li {
      padding: 0.5rem 1rem;

      transition: all $speed ease-in-out;

      & a {
        color: rgba(255, 255, 255, 0.87);
      }

      &:hover,
      &:focus {
        background-color: $navbar-dropdown-item-hover-background-color;

        & a {
          color: white;
        }
      }
    }
  }
}
