.warwickgg-seating {
  & #seating-chart-container {
    position: relative; /* add position:relative on the out box */
  }

  & #seating-commit-button {
    align-self: flex-end;
  }

  & button i.fas {
    margin-right: 4px;
  }

  & .seating-unassigned-container {
    background-color: $warwickgg_dark_grey;

    & #seating-unassigned {
      margin-top: 0.5rem;

      display: flex;
      flex-wrap: wrap;
    }
  }

  & .unassigned-user {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    margin-right: 0.5rem;
    margin-top: 0.5rem;

    background-color: $warwickgg_black;
    border-radius: $radius;

    justify-content: start;
    cursor: move;

    & span {
      margin: 5px;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    & img {
      height: 32px;
      width: 32px;
      margin: 6px;

      border-radius: $radius-small;
    }
  }

  & #seating-chart-popup {
    position: absolute;
    display: none;

    background-color: $navbar-dropdown-item-hover-background-color;
    padding: 0.5rem;

    border-radius: $radius-large;

    box-shadow: 0 8px 8px rgba(10,10,10,0.1),0 0 0 1px rgba(10,10,10,0.1);

    & img {
      height: 48px;
      width: 48px;

      border-radius: $radius;

      margin-right: 0.5rem;
    }
  }

  & h3 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
