// WarwickGG font face
@font-face {
  font-family: "Jaapokki Subtract";
  src: url("/static/fonts/jaapokkisubtract-regular.eot") format("eot"),
  url("/static/fonts/jaapokkisubtract-regular.woff") format("woff"),
  url("/static/fonts/jaapokkisubtract-regular.ttf") format("ttf"),
  url("/static/fonts/jaapokkisubtract-regular.svg") format("svg");
}

// Custom variables
$uwcs_yellow: #FDD835;
$uwcs_blue: #3D5AFE;
$warwickgg_black: #222528;
$warwickgg_dark_grey: #2D3338;
$warwickgg_blue_shadow: #162160;
$warwickgg_light_blue: #E4E8FF;
$warwickgg_light_blue_shadow: #383A46;
$uwcs_blue_dark: #364CCD;
$uwcs_yellow_dark: #D5B00B;

// Overrides
$family-monospace: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;
$family-title: 'Titillium Web', 'Montserrat', sans-serif;
$family-primary: $family-monospace;
$text: rgba(white, 0.87);
$text-strong: white;
$link: saturate(lighten($uwcs_blue, 5%), 10%);
$link-hover: lighten($link, 7.5%);
$link-focus: $link-hover;
$title-color: rgba(255, 255, 255, 0.87);
$title-weight: 700;
$subtitle-color: rgba(255, 255, 255, 0.54);

$primary: $uwcs_blue;

//$desktop: 850px + (2 * $gap);
//$fullhd: $desktop;
//$widescreen: $desktop;

$body-background-color: $warwickgg_black;

// Custom form input colours
$label-color: rgba(255, 255, 255, 0.7);
$input-color: white;
$input-background-color: $warwickgg_dark_grey;
$input-border-color: lighten($warwickgg_dark_grey, 10%);
$input-hover-border-color: lighten($warwickgg_dark_grey, 20%);
$input-icon-color: rgba(255, 255, 255, 0.3);
$input-icon-active-color: $primary;

// Navbar
$navbar-height: 3.8rem;
$navbar-background-color: $warwickgg_dark_grey;
$navbar-item-hover-background-color: lighten($warwickgg_dark_grey, 5%);
$navbar-item-color: rgba(255, 255, 255, 0.7);
$navbar-item-hover-color: white;
$navbar-item-active-color: white;
$navbar-dropdown-background-color: lighten($warwickgg_dark_grey, 2.5%);
$navbar-divider-background-color: lighten($navbar-dropdown-background-color, 5%);
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-active-color: white;
$navbar-dropdown-item-hover-background-color: lighten($navbar-dropdown-background-color, 5%);
$navbar-dropdown-item-active-background-color: lighten($navbar-dropdown-background-color, 5%);
$speed: 0.2s;
$navbar-dropdown-offset: -4px;

// Box
$box-background-color: $warwickgg_dark_grey;
$box-link-hover-shadow: 0 2px 3px rgba($black, 0.1);
$box-link-active-shadow: 0 2px 3px rgba($black, 0.1);

//Sidenav
$menu-item-color: rgba(white, 0.87);
$menu-item-hover-color: white;
$menu-item-active-color: white;
$menu-item-hover-background-color: $warwickgg_dark_grey;
$menu-item-active-background-color: $warwickgg_dark_grey;

//Breadcrumb
$breadcrumb-item-separator-color: rgba(white, 0.12);

//Modal
$modal-card-head-background-color: $warwickgg_black;
$modal-card-body-background-color: $warwickgg_black;
$modal-card-foot-border-top: 0px solid transparent;
$modal-card-head-border-bottom: 0px solid transparent;

//Tabs
$tabs-link-active-color: white;
$tabs-border-bottom-color: lighten($warwickgg_black, 10%);
$tabs-boxed-link-hover-background-color: $warwickgg_dark_grey;
$tabs-boxed-link-hover-border-bottom-color: lighten($warwickgg_dark_grey, 10%);
$tabs-boxed-link-active-background-color: $uwcs_blue;
$tabs-boxed-link-active-border-color: $tabs-boxed-link-active-background-color;
$tabs-boxed-link-active-border-bottom-color: $tabs-boxed-link-active-background-color;

//Footer
$footer-background-color: $warwickgg_dark_grey;