// WarwickGG font face
@font-face {
  font-family: "Jaapokki Subtract";
  src: url("/static/fonts/jaapokkisubtract-regular.eot") format("eot"),
        url("/static/fonts/jaapokkisubtract-regular.woff") format("woff"),
        url("/static/fonts/jaapokkisubtract-regular.ttf") format("ttf"),
        url("/static/fonts/jaapokkisubtract-regular.svg") format("svg");
}

// Custom variables
$uwcs_yellow: #FDD835;
$uwcs_blue: #3D5AFE;
$warwickgg_black: #222528;
$warwickgg_dark_grey: #2D3338;
$warwickgg_blue_shadow: #162160;
$uwcs_blue_dark: #364CCD;
$uwcs_yellow_dark: #D5B00B;

// Overrides
$family-monospace: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;
$family-title: "Jaapokki Subtract", "Montserrat", sans-serif;
$family-primary: $family-monospace;
$text: white;
$link: $uwcs_blue;
$link-hover: darken($link, 5%);
$link-focus: $link-hover;

$primary: $uwcs_blue;

//$desktop: 770px + (2 * $gap);
//$fullhd: $desktop;
//$widescreen: $desktop;

// TODO: Handle hover states ($link_hover, $link-border, $link-actives)
$body-background-color: $warwickgg_black;

// Custom form input colours
$label-color: rgba(255, 255, 255, 0.7);
$input-color: white;
$input-background-color: $warwickgg_dark_grey;
$input-border-color: lighten($warwickgg_dark_grey, 10%);
$input-hover-border-color: lighten($warwickgg_dark_grey, 20%);
$input-icon-color: rgba(255, 255, 255, 0.3);
$input-icon-active-color: $primary;
