{% extends "base.html" %}

{% block template_classname %}warwickgg-social-error{% endblock %}

{% block title %}Warwick.gg UWCS login failure{% endblock %}

{% block content %}
  <div class="level title-container">
    <div class="container">
      <a href="/">
        <h1 class="warwickgg-title has-text-centered">Warwick<span class="superscript">.gg</span></h1>
      </a>
    </div>
  </div>
  <div class="level">
    <div class="container">
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">An error occurred while attempting to login via your UWCS account.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}