{% extends "base.html" %}

{% block template_classname %}warwickgg-social-error{% endblock %}

{% block title %}Warwick.gg UWCS login cancelled{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="title-container">
        <h1 class="warwickgg-title has-text-centered"><a href="/">Warwick<span class="superscript">.gg</span></a></h1>
      </div>
      <div class="columns">
        <div class="column is-half-desktop is-4-fullhd is-offset-4-fullhd is-offset-one-quarter-desktop">
          <p class="instructions has-text-centered">You decided to cancel logging in to our site using your UWCS
            account. If this was a mistake, please proceed to <a href="{{ login_url }}">sign in</a>.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}