{% load markdown_deux_tags event_tags %}

<div class="column is-4">
  <a href="{% url 'tournament_home' slug=tournament.slug %}" class="tournament-box">
    <h3 class="title">{{ tournament.title }}</h3>
    <h6 class="subtitle is-6">{{ tournament.start|date:'P l jS F Y' }}</h6>
    <div class="content">
      <ul>
        {% if tournament.platform == 'O' %}
          <li><strong>Platform:</strong> {{ tournament.platform_other }}</li>
        {% else %}
          <li><strong>Platform:</strong> {{ tournament.platform_verbose }}</li>
        {% endif %}
        {% if tournament.for_event %}
          <li><strong>Event:</strong> {{ tournament.for_event }} ({% if tournament.requires_attendance %}requires signup
            to {{ tournament.for_event }}{% else %}doesn't require signup{% endif %})
          </li>
        {% endif %}
        {% if tournament.games %}
          <li><strong>Game{{ tournament.games_list|pluralize }}</strong>: {{ tournament.games }}</li>
        {% endif %}
      </ul>
      {{ tournament.description|markdown }}
      {% if user_signed_up_to_tournament %}
        <small class="has-text-success"><i class="fas fa-check"></i> You're signed up</small>
      {% else %}
        {% if tournament.signups_open %}
          <small class="has-text-success"><i class="fas fa-user-plus"></i> Signups are open</small>
        {% endif %}
      {% endif %}
    </div>
  </a>
</div>