<div class="field">
  {% if field.field.widget.input_type == 'textarea' %}
    <label class="label" for="{{ field.id_for_label }}">
      {% if custom_label %}{{ custom_label }}{% else %}{{ field.label }}{% endif %}{% if field.field.required %}
        <span class="is-required">*</span>{% endif %}</label>
    <div class="control">
      <textarea
          class="textarea {% if form.non_field_errors or field.errors %}is-danger{% endif %} {% if read_only %}is-static{% endif %}"
          name="{{ field.name }}" id="{{ field.id_for_label }}"
          placeholder="{% if field.field.widget.attrs.placeholder %}{{ field.field.widget.attrs.placeholder }}{% else %}{{ field.label }}{% endif %}"
          {% if field.field.required %}required{% endif %} {% if read_only %}readonly{% endif %}></textarea>
    </div>
  {% elif field.field.widget.input_type == 'checkbox' %}
    <div class="control">
      <label class="checkbox">
        {% if before %}<input type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}">{% endif %}
        {% if custom_label %}{{ custom_label }}{% else %}{{ field.label }}{% endif %}{% if field.field.required %}
          <span class="is-required">*</span>{% endif %}:
        {% if not before %}<input type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}">{% endif %}
      </label>
    </div>
  {% else %}
    <label class="label" for="{{ field.id_for_label }}">
      {% if custom_label %}{{ custom_label }}{% else %}{{ field.label }}{% endif %}{% if field.field.required %}
        <span class="is-required">*</span>{% endif %}</label>
    <div
        class="control {% if field.field.widget.input_type == 'email' or field.field.widget.input_type == 'password' %}has-icons-left{% endif %}">
      <input
          class="input {% if form.non_field_errors or field.errors %}is-danger{% endif %} {% if read_only %}is-static{% endif %}"
          name="{{ field.name }}" id="{{ field.id_for_label }}"
          placeholder="{% if field.field.widget.attrs.placeholder %}{{ field.field.widget.attrs.placeholder }}{% else %}{% if custom_label %}{{ custom_label }}{% else %}{{ field.label }}{% endif %}{% endif %}"
          type="{{ field.field.widget.input_type }}"
          {% if field.field.required %}required{% endif %}
          {% if field.value %}value="{{ field.value }}"{% endif %}
          {% if read_only %}readonly{% endif %}>
      {% if field.field.widget.input_type == 'email' or field.field.widget.input_type == 'password' %}
        <span class="icon is-small is-left">
          {% if field.field.widget.input_type == 'email' %}
            <i class="fas fa-envelope"></i>
          {% elif field.field.widget.input_type == 'password' %}
            <i class="fas fa-lock"></i>
          {% endif %}
        </span>
      {% endif %}
    </div>
    {% if field.help_text %}
      <p class="help">{{ field.help_text }}</p>
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
        <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    {% endif %}
  {% endif %}
</div>